@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Changa:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    background-color: #230100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    
    
}

* {
    user-select: none;
    font-family: "Bebas Neue", serif;
}

a {
    text-decoration: none;
}

.disabled-ticket {
    opacity: 0.5;  /* Make the ticket look faded */
    color: grey;   /* Change text color */
    pointer-events: none; /* Disable clicking */
    text-decoration: none; /* Remove underline */
}

.ticket-logo_inner {
    width: 100%;
    height: 100%;
}

.fireball-7-title {
    background-color: #b70002 !important;
}

.fireball-7-bg { 
    border-color: #b70002 !important;
    background: linear-gradient(#b70002, #ff00046e);
}



.cash-counter {
    width: fit-content;
    background: linear-gradient(#5ed91c, #195f06);
    border-radius: 0px;
    border: #1c0205 solid 2px;
    border-radius: 6px;
    padding: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.cash-logo {
    width: 40px;
    margin-right: 10px;
}

header {
    background: linear-gradient(#530002, #cf1f1f, #a70a07);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    border-bottom: #e8b364 solid 4px;
    height: 65px;
    width: 100%;
    z-index: 10000000000000000000000000000;
}

.hidden-number {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.star,
.prize {
    transition: opacity 0.15s ease-in-out;
}


footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#530002, #cf1f1f, #a70a07);
    position: fixed;
    bottom: 0;
    border-top: #e8b364 solid 4px;
    height: 65px;
    width: 100%;
    z-index: 10000000000000000000000000000;
}

.rolling-high-ticket {
    background: linear-gradient(#f7cd39, #5eaf6b);
    border-color: #172d1a !important;
}

.rolling-high-max {
    text-shadow: 
    0.2px 0.2px 0px black,   /* Right & Bottom */
    -0.2px -0.2px 0px black, /* Left & Top */
    0.2px -0.2px 0px black,  /* Right & Top */
    -0.2px 0.2px 0px black;  /* Left & Bottom */
    color: black !important;
    text-align: center;
    width: 100%;
    background: radial-gradient(#f5a623, #de4e0c);
}

.rolling-high-title {
    color: #e30011 !important;
    border-color: #13027c !important;
}

.ticket {
    width: 400px;

    height: fit-content;
    min-height: 200px;
    background-color: #272526;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ticket-title {
    text-shadow: 
    2px 2px 0px white,   /* Right & Bottom */
    -2px -2px 0px white, /* Left & Top */
    2px -2px 0px white,  /* Right & Top */
    -2px 2px 0px white;  /* Left & Bottom */
    color: orange;
    text-align: center;
    font-size: larger;
    height: 120px;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    background-color: #00a5e6;

}

.text {
    text-shadow: 
        2px 2px 0px black,   /* Right & Bottom */
        -2px -2px 0px black, /* Left & Top */
        2px -2px 0px black,  /* Right & Top */
        -2px 2px 0px black;  /* Left & Bottom */
    color: white;
    text-align: center;
}

.numbers-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winning-numbers {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.winning-number {
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer; 
}

.your-numbers {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.number {
    display: inline-block;
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.price {
    position: absolute;
    background-color: transparent;
    transform: translate(10px, -10px);
    font-size: 16px;
    opacity: 1;
    transition: all 0.18s ease-in-out;
}

.hidden-number {
    opacity: 0;
    background-color: #a0cddc;
    color: #3e6a75;
    position: absolute;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-55px);
    font-size: larger;
}

.number-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.prize {
    width: 65px;
    cursor: pointer;
    position: relative;
}

.star {
    width: 40px;
    position: relative;
    cursor: pointer;
}

.ticket-content {
    width: 390px;
    background-color: #fe9733 !important;
    border: #ff8d2a solid 5px;
    height: fit-content;
}

._10x-ticket {
    background-color: #f9eb2d !important;
    border-color: #d0cb31 !important;
}

._20x-ticket {
    background-color: #0487b8 !important;
    border-color: #00bbff;
}

._25x-ticket {
    background-color: #52af27 !important;
    border-color: #51c11d !important;
}

.price {
    z-index: 1322312131231232311233218543775347954379845375984347359887543789543785487438795437897584937859438795347584378587534789452;
}
.ticket-logo {
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 0.18s ease-in-out;
}

.big-dollars-bg {
    background-image: url("../media/images/us-dollarbill.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 350px;
    border-color: #195f06;
}

.big-dollars-inner {
    background-color: #8ccd83 !important;
    margin-top: 140px !important;
    border-color: #009064 !important;
}


.tickets-claiming {
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 20px; /* Space between each ticket-claim */
    scroll-snap-type: x mandatory; /* Snapping behavior */
    scroll-behavior: smooth;
    position: relative;
}


.ticket-claim {
    width: 250px; /* Set a fixed width for each ticket-claim */
    height: 350px; /* Set a fixed height for each ticket-claim */
    background-color: #272526;
    position: relative;
    border: #e9dc67 solid 5px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    scroll-snap-align: center; /* Snap each item to the center when scrolling */
    flex-shrink: 0; /* Prevent shrinking of the items */
    transition: all 0.18s ease-in-out;
}



.ticket-claim:hover .ticket-logo {
    cursor: pointer;
    scale: 1.1;
}

.ticket-claim:hover .price {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
